/*yellow colour:#F3BE43*/
/*Global*/
html,body{
  box-sizing: border-box;   
 height: 100%;
     
 }
 body{
     background: black;
 }
 
 /*HEADER*/
 .navbar{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 nav ul{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 nav ul li{
     list-style: none;
     margin: 0 10px;
 }
 
 
 nav ul li a{
     font-size: 1.5rem;
     text-decoration: none;
     color:white;
 }
 
 nav ul li a:hover{
     color: #F3BE43;
     border-bottom: #F3BE43;
 }
 
 .container{
     margin: 60px auto;
 }
 .container img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
 }
 
 
 .col-md-3{
     margin: auto;
 }
 
  .button-links{
     display: flex;
     justify-content: center;
     align-items: center;
     margin: auto;
  } 
 
   /*Home*/
  
  .col p{
     text-align: center;}
 .hoverText {
         position: relative;
         display: inline-block;
       }
       
   .card{
     margin: 20px 0px;
     padding: 30px;
     box-shadow: 6px 10px 7px #F3BE43;
 
   }
   /*style for mobile later*/
 @media screen and (max-width: 600px) {
     .container{
         margin: 20px 0 0 0 ;
 
   }}