.btn{
    border-radius: 25px;
    padding: 05px 30px 05px 30px;
    border: 3px solid#0056b3;
    background-color: #0056b3;
    color:  whitesmoke;
    font-size: 20px;
}

.btn:hover{
    background-color: #70b1ff;
    transform: scale(1.05);
}

.btn-grn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px; /* Rounded corners */
    transition: background-color 0.3s, transform 0.3s; /* Hover effect */
}

.btn-grn:hover{
    background-color: #70b1ff;
    transform: scale(1.05);
}



.btn-hol{
    border-radius: 25px;
    padding: 05px 30px 05px 30px;
    border: 3px solid #70b1ff;
    background-color:#70b1ff ;
    color:  whitesmoke;
    font-size: 20px;
}

.btn-hol:hover{
    background-color:#0056b3;
    transform: scale(1.05);
}

  
.button-card {
	display: block;
	font-size: 1rem;
	background: #9E829C;
	border: 1px solid #9E829C;
	padding: 10px 15px;
	color: white;
	text-decoration: none;
	font-weight: 700;
	text-align: center; }
.button-card:hover, .button-card:focus {
	  background: #9E829C;
	  border: 1px solid #9E829C; }

.button-links{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
     } 

     /* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
   /* Adjust vertical positioning */
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.button-container {
  position: absolute;
  top: 46%;
  left: 2%;
  
}
.button-container .button-29:first-child {
  left: 2%; /* Position first button */
}

.button-container .button-29:nth-child(2) {
  left: 12%; /* Position second button */
}