.hero {
    background-image: url('../assets/images/1st.jpg');
    background-size: cover; /* Ensures the image covers the whole background */
     /* Centers the background image */
    height: 50vh; /* Adjust height to fit the viewport */
    display: flex; /* Center align the text */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.typewriter p {
    overflow: hidden; 
    white-space: nowrap; 
    letter-spacing: 0.1em; 
    width:0; 
    animation: typing 3s steps(30, end) forwards; /* Default animation */
    font-size: 3em;
    font-weight: 600;
    position: absolute;
    top: 39%;
    left: 2%;
    text-align: start;
}

/* The typing effect */
@keyframes typing {
    from { width: 0; } /* Start typing from the current position */
    to { width: 100%; } /* Reveal the entire text */
}

.name{
position: absolute;
top: 35%;
left: 2%;
color: white;
font-size: 4em;
}



