/* -------------------- Start Navigation -------------------- */
.navbar-norm {
	width: 100%;
	z-index: 10;
	position: fixed;
	font-size: 16px;
	background-color: #36373a;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
  }
  
  .navbar-norm img {
	height: 40px; /* Adjust logo size */
  }
  
  .navbar-norm ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: flex-end;
  }
  
  .navbar-norm li {
	margin: 0 15px;
  }
  
  .navbar-norm li a {
	color: white;
	text-decoration: none;
	padding: 8px;
  }
  
  .hamburger {
	display: none;
	font-size: 30px;
	color: white;
	cursor: pointer;
  }
  
  @media (max-width: 768px) {
	.navbar-norm ul {
	  display: none;
	}
  
	.hamburger {
	  display: block;
	}
  
	/* Sidebar styling */
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	background-color: #36373a;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	display: block;
	flex-direction: column; /* Stacks items vertically */
	justify-content: center; /* Centers content vertically */
	align-items: center; /* Centers content horizontally */
  }
  
  .sidebar a {
	padding: 16px 32px; /* Adjust padding for more space */
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: flex;
	justify-content: center; /* Centers text horizontally */
	align-items: center; /* Centers text vertically */
	transition: 0.3s;
	width: 100%; /* Optional: makes the anchor take full width */
	text-align: center; /* Centers the text inside the link */
	margin-top: 50px;
  }
  
  
	.sidebar .closebtn {
	  position: absolute;
	  top: 0;
	  right: 2px; /* Adjusted close button to the right */
	  font-size: 36px;
	  margin-right: 2px;
	}
  
	.navbar-norm.active ul {
	  display: none;
	}
  }
  
  /* When the sidebar is open */
  .sidebar.open {
	width: 360px; /* Width of the sidebar */
  }
  
  @media (max-width: 400px) {
	.sidebar a {
	  font-size: 18px;
	}
  }
  