/*Use the following for top drop-down nav
Change the background-color in #nav to change the color of the navigation bar
Change the background-color in #nav ul li ul to change the background color of the dropdown menus
These values do also need to be changed further down, in the 600px, 400px, and 300px wide sections 
*/
/* -------------------- Start Navigation -------------------- */
.navbar-norm{
	width: 100%;
	z-index:10;
	position:fixed;
	font-size:16px;
	background-color: #36373a ;
    margin-bottom: 10px;

}

.navbar-norm > a{
	display: none;
}

.navbar-norm li{
	position: relative;
	list-style-position:inside;
	list-style-type:none;
    justify-content: center;
}

.navbar-norm li:hover {
    border-bottom: solid white;
}
.navbar-norm li a{
	color: white;
	display: block;
	text-decoration:none;
}



.navbar-norm > ul{
	text-align:center;
	padding-left:0px !important;
	margin-left:0px !important;
}
.navbar-norm > ul > li{
	margin:0px 15px;
	padding:4px 8px;
	height: 100%;
	display:inline-block;
}
.navbar-norm > ul > li > a{
	height: 100%;
	text-align: center;
}
.navbar-norm > ul > li:not( :last-child ) > a{
	
}

.navbar-norm > ul > li:hover > a,
.navbar-norm > ul:not( :hover ) > li.active > a{
	
} 
	/* second level */

.navbar-norm li ul{
	background-color:whitesmoke;
	display: none;
	position: absolute;
	top: 100%;
	margin-left:0 !important;
	padding-left:0 !important;
	width:100%;/*changed from a definite px to a percentage*/
	text-align:left;
}
.navbar-norm li:hover ul{
	display: block;
	left: 0;
	right: 0;
}
.navbar-norm li:not( :first-child ):hover ul{
	left: -1px;
}
.navbar-norm li ul a{
	color:#000;
	padding: 0.75em; /* 15 (20) */
}
.navbar-norm li ul li a:hover,
.navbar-norm li ul:not( :hover ) li.active a
{
}
/* -------------------- End Navigation for normal -------------------- */

/* -------------------- Start Navigation with dropdown and mobile design -------------------- */
/*Use the following for top drop-down nav
Change the background-color in #nav to change the color of the navigation bar
Change the background-color in #nav ul li ul to change the background color of the dropdown menus
These values do also need to be changed further down, in the 600px, 400px, and 300px wide sections 
*/
/* -------------------- Start Navigation -------------------- */
.navbar-mobi{
	width: 100%;
	z-index:10;
	position:fixed;
	font-size:16px;
	background-color: #36373a ;
    margin-bottom: 10px;

}

.navbar-mobi > a{
	display: none;
}

.navbar-mobi li{
	position: relative;
	list-style-position:inside;
	list-style-type:none;
    justify-content: center;
}

.navbar-mobi li:hover {
    border-bottom: solid white;
}
.navbar-mobi li a{
	color: white;
	display: block;
	text-decoration:none;
}

/* first level */

.navbar-mobi > ul{
	text-align:center;
	padding-left:0px !important;
	margin-left:0px !important;
}
.navbar-mobi > ul > li{
	margin:0px 15px;
	padding:4px 8px;
	height: 100%;
	display:inline-block;
}
.navbar-mobi > ul > li > a{
	height: 100%;
	text-align: center;
}
.navbar-mobi > ul > li:not( :last-child ) > a{
	
}

.navbar-mobi > ul > li:hover > a,
.navbar-mobi > ul:not( :hover ) > li.active > a{
	
} 
	/* second level */

	.navbar-mobi li ul{
	background-color:whitesmoke;
	display: none;
	position: absolute;
	top: 100%;
	margin-left:0 !important;
	padding-left:0 !important;
	width:100%;/*changed from a definite px to a percentage*/
	text-align:left;
}
.navbar-mobi li:hover ul{
	display: block;
	left: 0;
	right: 0;
}
.navbar-mobi li:not( :first-child ):hover ul{
	left: -1px;
}
.navbar-mobi li ul a{
	color:#000;
	padding: 0.75em; /* 15 (20) */
}
.navbar-mobi li ul li a:hover,
.navbar-mobili ul:not( :hover ) li.active a
{
}

 @media only screen and (max-width:720px){
	* -------------------- Start Navigation -------------------- *
	.navbar-mobi{
        position: relative;
    }
	.navbar-mobi > a{
	}
	
	.navbar-mobi:not( :target ) > a:first-of-type,
	.navbar-mobi:target > a:last-of-type{
		display: flex;
		width:100%;
		text-align:center;
		color:#000;
		font-size:20px;
		padding:5px 0px;
		text-decoration:none;
		justify-content: space-between;
	}
	
	.navbar-mobi a{
		font-size:18px;	
	}
 
 
	.navbar-mobi > ul{
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
		background-color:#ccc;
		margin-top:0px !important;
		padding-bottom:10px;
    }
	.navbar-mobi:target > ul{
		display: block;
	}
	.navbar-mobi > ul > li{
		width: 100%;
		float: none;
		margin:0px !important;
		padding:4px 0px;
	}


	
 
    .navbar-mobi li ul{
        position: static;
		width:98%;
		margin:0 !important;
		text-align:center;
		padding:0 !important;
    }
	.navbar-mobi li ul a{
		padding:0.5em 0;
		margin:0.25em 0;
	}
	
} 
.header{
    width: 100%;
}