/*COLOR PALETTE
 Dark green #3c8453
 sandy beige #bcaa96
 Dark gray #222222
 Light gray  #d3d4d6
 Off-white  #f6f6f6
 */
/*GLLOBAL*/
body{
    background: #f6f6f6 ;
}
/*links*/
a{
    color:#3c8453 ;
}
a:hover{
    color: #bcaa96 ;
    text-decoration:none ;
}
footer a{
    color: #bcaa96 ;
}

 footer a:hover{
    color: #bcaa96 ;
    text-decoration:none ;
 }
 
.btn{
    background: #3c8453;
    color: #f6f6f6;
    text-decoration: none;
}
/*Home----------------*/
.home{
    background: url(../images/bg-home-office-studio.jpg) no-repeat;
    background-size: cover;
}
.home .content-wrapper{
    background: rgb(255 255 255 /0.9);
}
/*Resume/
/*Profile/
/* Work Experienc/
/*Education/
/*footer*/
footer {
    background: #222;
 
}


